.flipContainer:hover .flipInner {
    transform: rotateY(180deg);
  }

  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid grey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    z-index: 110;
    animation: spin 2s linear infinite;
    box-shadow: 0 0 10px black;
}

@keyframes spin{
    0% { 
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}